/*      Created by Keith Donegan of Code-Sucks.com    E-Mail: Keithdonegan@gmail.com    You can do whatever you want with these layouts,  but it would be greatly appreciated if you gave a link  back to http://www.code-sucks.com  */
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Trebuchet MS", Helvetica, Arial;
	font-size: 14px;
	line-height: 140%;
	background-color: #EBEBEB;
	/*background-image: url('http://devcrm.hssusa.org/css/background1.png');
background-repeat: repeat-x*/
	/*background-color: #333333;
*/
}
a {
	text-decoration: none;
	color: #FF6600;
	/*border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #FF3300;
*/
}
a:hover {
	/*color: #FFFFFF;
	background-color: #FF6600;*/
	color:  #9fc253;
}
#wrapper {
	margin: 0 auto;
	width: 920px;
	background-color: #EFF0F9;
}
#header {
	color: #EFF0F9;
	width: 920px;
	float: left;
	/*padding-top: 10px;*/
	padding-bottom: 15px;
	/*border: 1px solid #ccc;*/
	height: 60px;
	margin: 0px 0px 0px 0px;
	background-color: #004175; /*#D4D4D4;*/	/*background-image: url(header.jpg);
*/
}
#header #info {
	text-align: right;
	/*color: #485779;*/
	color: #FFF;
	padding-right: 10px;
}
#header h1 { font-size: 2.5em;}
#breadcrumb {
	float: left;
	font-size: 100%;
	padding-bottom: 5px;
	padding-left: 10px;
	margin: 5px;
}
#navigation {
	float: left;
	width: 900px;
	color: #000000;
	padding: 15px 10px 5px 10px;
	/*border-top: 1px solid #fff;*/
	border-bottom: 1px solid #fff;
	margin: 5px 0px 5px 0px;
	/*background-color: #696969;*/
	background-color: #EFF0F9;/*#e3f1f6;*/
	font-size: 110%;
	font-weight: bold;
}
#navigation a {
	position: relative;
	color: #FFFFFF;
	background-color: #004175;/*#53648C; /*#858585;*/
	padding: 5px 10px 5px 10px;
	margin: 5px 2px 0px 2px;
}
#navigation a:hover,
#navigation .active a{
	color: #53648C;
	background-color: #FFFFFF;
	border-top: 2px solid #FF9900;
}

#leftcolumn {
	clear: left;
	color: #333;
	/*border: 1px solid #ccc;*/
	margin: 0px 5px 25px 10px;
	padding: 15px 10px 10px 10px;
	/*height: 350px;*/
	width: 678px;
	float: left;
	background-color: #FFFFFF;
}

#rightcolumn {
	float: right;
	color: #333;
	/*border-top: 2px solid #FF9900;*/
	/*background-color: #EFF0F9;*/
	margin: 15px 0px 15px 0px;
	padding: 10px 10px 10px 10px;
	width: 185px;
	display: inline;
}
#rightcolumn p {
	margin-left: 5px;
}
#footer {
	width: 900px;
	clear: both;
	color: #333;
	/*border: 1px solid #ccc;*/
	background: #EFF0F9;/*#F2F2E6;*/
	padding: 5px;
	font-size: 90%;
}
h2, h3, h4 {
	color: #000033;
}
h2 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	font-size: 180%;
	letter-spacing: 2px;
}
h3 {
	letter-spacing: 1px;
	margin-bottom: 5px;
	font-size: 1.2em;
	background-color: #EFF0F9;/*#F2F2E6;*/
	padding: 3px;
}
#rightcolumn h3 {
	border-bottom-color: #FFFFFF;
	border-bottom: thin;
}
#rightcolumn p {
	font-size: 110%;
}
p {
	margin-bottom: 3px;
}
h4 {
	font-size: 80%;
}
input, select {
	font-family: "Trebuchet MS", Helvetica, Arial;
	/*font-size: 12px;
*/
	vertical-align: middle;
	font-weight: bold;
	color: #000033;
}
select {
	padding: 0px;
}
#leftcolumn ol, #leftcolumn ul {
	margin-left: 30px;
}
#tb tr td, #tb tr th {
	padding: 2px 8px 2px 8px;
}
.left {
	float: left;
	text-align: right;
}
.right {
	float: right;
	text-align: right;
}
.leftcol {
	float: left;
	width: 48%;
}
.rightcol {
	float: right;
	width: 48%
}
.style2 {
	color: #888888;
	font-size: 12px;
}
/*.prop {
   float:right;
   width:1px;
}

.clear {
   clear:both;
   height:1px;
   overflow:hidden;
}
.min400 {height: 400px;}*/
