/*      Created by Keith Donegan of Code-Sucks.com    E-Mail: Keithdonegan@gmail.com    You can do whatever you want with these layouts,  but it would be greatly appreciated if you gave a link  back to http://www.code-sucks.com  */
* {
	padding: 0;
	margin: 0;
}
body {
	/*font-family: "Trebuchet MS", Helvetica, Arial; */
	font-family: "Segoe UI [10]", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif;
	font-size: 14px;
	line-height: 140%;
	background-color: #EBEBEB;
}
a {
	text-decoration: none;
	color: #FF6600;
}
a:hover {
	/*color: #FFFFFF;
	background-color: #FF6600;*/
	color:  #9fc253;
}
#wrapper {
	margin: 0 auto;
	width: 920px;
	background-color: #EFF0F9;
}
#header {
	color: #EFF0F9;
	width: 920px;
	float: left;
	/*padding-top: 10px;*/
	padding-bottom: 15px;
	/*border: 1px solid #ccc;*/
	height: 60px;
	margin: 0px 0px 0px 0px;
	background-color: #004175; /*#D4D4D4;*/	/*background-image: url(header.jpg);
*/
}
#header #info {
	text-align: right;
	/*color: #485779;*/
	color: #FFF;
	padding-right: 10px;
}
#header h1 { font-size: 2.5em;}
#breadcrumb {
	float: left;
	font-size: 100%;
	padding-bottom: 5px;
	padding-left: 10px;
	margin: 5px;
}
#navigation {
	float: left;
	width: 900px;
	color: #000000;
	padding: 15px 10px 5px 10px;
	/*border-top: 1px solid #fff;*/
	border-bottom: 1px solid #fff;
	margin: 5px 0px 5px 0px;
	/*background-color: #696969;*/
	background-color: #EFF0F9;/*#e3f1f6;*/
	font-size: 110%;
	font-weight: bold;
}
#navigation a {
	position: relative;
	color: #FFFFFF;
	background-color: #004175;/*#53648C; /*#858585;*/
	padding: 5px 10px 5px 10px;
	margin: 5px 2px 0px 2px;
}
#navigation a:hover,
#navigation .active a{
	color: #53648C;
	background-color: #FFFFFF;
	border-top: 2px solid #FF9900;
}

#leftcolumn {
	clear: left;
	color: #333;
	/*border: 1px solid #ccc;*/
	margin: 0px 5px 25px 10px;
	padding: 15px 10px 10px 10px;
	/*height: 350px;*/
	width: 678px;
	float: left;
	background-color: #FFFFFF;
}

#rightcolumn {
	float: right;
	color: #333;
	/*border-top: 2px solid #FF9900;*/
	/*background-color: #EFF0F9;*/
	margin: 0px 0px 15px 0px;
	padding: 10px 10px 10px 10px;
	width: 185px;
	display: inline;
}
#rightcolumn p {
	margin-left: 5px;
}
#footer {
	width: 900px;
	clear: both;
	color: #333;
	/*border: 1px solid #ccc;*/
	background: #EFF0F9;/*#F2F2E6;*/
	padding: 5px;
	font-size: 90%;
}
h2, h3, h4 {
	color: #000033;
}
h2 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	font-size: 180%;
	letter-spacing: 2px;
}
h3 {
	letter-spacing: 1px;
	margin-bottom: 5px;
	font-size: 1.2em;
	background-color: #EFF0F9;/*#F2F2E6;*/
	padding: 3px;
}

h4 {
	/*font-size: 80%;*/
	font-weight: normal;
}

#rightcolumn h3 {
	border-bottom-color: #FFFFFF;
	border-bottom: thin;
}
#rightcolumn p {
	font-size: 110%;
}
p {
	margin-bottom: 3px;
}

input, select {
	font-family: "Trebuchet MS", Helvetica, Arial;
	vertical-align: middle;
	font-weight: bold;
}
select {
	padding: 0px;
}
#leftcolumn ol, #leftcolumn ul {
	margin-left: 30px;
}
#tb tr td, #tb tr th {
	padding: 2px 8px 2px 8px;
}
.left {
	float: left;
	text-align: right;
}
.right {
	float: right;
	text-align: right;
}
.leftcol {
	float: left;
	width: 48%;
}
.rightcol {
	float: right;
	width: 48%
}
.style2 {
	color: #888888;
	font-size: 12px;
}

#leftcolumn form input[type="text"], 
#leftcolumn form select {
	color: #000033;
	border: 1px solid #888888;
	/*background-color: #FCFBDC;*/
	font-size:13px;
	padding: 1px;
}

.sambhags th { text-align: left; }

.small-text {
	color: gray;
	font-size:90%;
}

.margin-top-15px {
	margin-top: 15px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#email-error{
	color:red;
	} 

#p_addcontact{
font-size: 1em !important;
}	

#span_shakhaname{
color:#FF6600;
}

#btn_addcontact{
 margin-left: 35px;
 margin-top: 5px !important;
 width:100px;
}

#add_karyakarta input{
margin-top:5px;	
}

#add_karyakarta input[type=text]{
margin-left:-8px;
font-size: 1.1em;	
}

.form_error{
	border: 2px solid red;
	border-radius: 5px;
}

.span_error_font{
	font-size: 0.8em !important;
	margin-left:5px;
}	

#swayamsevak-list table, #swayamsevak-list th, #swayamsevak-list td,#shakha-list table, #shakha-list th, #shakha-list td {
    border: 1px solid black;
    border-collapse: collapse;
}

#swayamsevak-list th, #shakha-list th{
	background: #004175;
	color:white;
	padding:5px;
}

#swayamsevak-list table, #shakha-list table{
	width: 100%;
	margin-bottom: 3%;
}

#swayamsevak-list td, #shakha-list td {
  text-align:center;
  padding:5px;
}

#swayamsevak-list table a:hover, #shakha-list table a:hover{
  color:#FF6600;
}

#swayamsevak-list table tr:nth-child(even), #shakha-list table tr:nth-child(even) {
	background: #CCC
}

#swayamsevak-list table tr:nth-child(odd), #shakha-list table tr:nth-child(odd) {
	background: #FFF
}

div.page-links > a{
    color: #004175 !important;
}

div.page-links b {
    color: #808080;
}

.page-links {
    text-align: center;
}

#rightcolumn > span#autosuggest-error {
    font-size: 0.87em;
    color:red;    
}

#rightcolumn #form1 #term {
    font-size: 1.2em;
    margin-left: -13px;
    width: 160px;
}

#rightcolumn #form1 #submit {
    margin-left: 0px;
}