<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>Permissions Matrix </p>
<p>Permission Levels</p>
<ul>
  <li><strong>Shakha Low</strong>: Everyone Except Mukhya Shikah, Sah-Mukhya Shikshak, Karyavah, Sah-Karyavah, Palak</li>
  <li><strong>Shakha High</strong>: Mukhya Shikah, Sah-Mukhya Shikshak, Karyavah, Sah-Karyavah, Palak</li>
  <li><strong>Nagar</strong>: All Nagar Karyakarta</li>
  <li><strong>Vibhag</strong>: All Vibhag Karyakarta</li>
  <li><strong>Sambhag</strong>: All Sambhag Karyakarta</li>
  <li><strong>National</strong>: All National Karyakarta</li>
</ul>
<table width="650" border="1" cellspacing="2" cellpadding="2" summary="Permisison Matrix">
  <tr>
    <td width="252">Permission</td>
    <td width="59" align="center">Shakha L</td>
    <td width="65" align="center">Shakha H</td>
    <td width="48" align="center">Nagar</td>
    <td width="51" align="center">Vibhag</td>
    <td width="59" align="center">Sambhag</td>
    <td width="56" align="center">National</td>
  </tr>
  <tr>
    <td><strong>All Shakha</strong></td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td><strong>All Nagar</strong></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td><strong>All Vibhag</strong></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td><strong>All Sambhag</strong></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td><strong>All National</strong></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
    <td align="center"><img src="file:///C|/Users/Chanakya/Documents/famfamfam_silk_icons_v013/icons/accept.png" width="16" height="16" alt="Yes" /></td>
  </tr>
</table>
</body>
</html>
